.board {
    background-color: blue;
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-around;
    /* padding: 10px; */
}

.realm {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    /* padding: 10px; */
}

.pile {
    padding: 10px;
}

body {
    background-color: gray;
}