.openGamesPanel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: black;
}

.homepageBtnPanel {
    display: flex;
    flex-flow: column wrap;
    background-color: blueviolet;
}

.board {
    background-color: blue;
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-around;
}

.realm {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.pile {
    padding: 10px;
}

body {
    background-color: gray;
}